html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.fw-font-family {
  font-family: var(--fw-font-family, -apple-system, BlinkMacSystemFont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif);
}
.order-item {
  padding: 10px 20px;
}

.order-item-header {
  padding: 10px 10px 0px 10px;
}

.order-card {
  margin: 10px;
}

.order-card-all {
  margin: 20px 0px;
}

.fw-text-align-center {
  text-align: center;
}

.fw-text-align-right {
  text-align: right;
}

