<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{{appclient}}}"></script>
    <script type="module"
        src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/css/crayons-min.css" />
    <title>Company Background</title>
</head>

<body>
    <main>
        <section>
            <fw-label value="A small loader" color="yellow"></fw-label><br />
            <fw-spinner size="small"></fw-spinner><br /><br />
        </section>
        <p id="data"></p>
    </main>
</body>
<script defer>
    (async function init() {
        var testData = "<h2>new test</h2>";
        var client;
        client = await app.initialized();
        client.events.on('app.activated', () => {
            let p = document.getElementById('data');
            p.innerHTML = testData;
            console.log(`company_list_background placeholder: app is activated 🥁`);
        });
    })();
</script>

</html>